body {
    font-family: 'Roboto', sans-serif;
    margin-top: 1.5rem;
}

input {
    accent-color: var(--vgz-light-color-cta);
    width: 1.4rem;
    aspect-ratio: 1;
    vertical-align: middle;
    margin-top: -.1rem;
}

label {
    display: block;
    margin: 0 0 .75rem;
}

button {
    font-size: 1.125rem;
    line-height: 1.25em;
    min-height: 46px;
    padding: 0.5em 1em;
    background-color: var(--vgz-light-color-cta);
    padding: .5rem 1rem;
    color: white;
    font-size: 1.25rem;
    border-radius: 1.4375rem;
    border: none;
    min-width: 180px;
}

hr {
    margin: 1.5rem 0;
}