body {
    font-family: 'Open Sans', sans-serif;
    margin-top: 1.5rem;
}

input {
    accent-color: var(--vgz-light-color-cta);
    width: 1.4rem;
    aspect-ratio: 1;
    vertical-align: middle;
    margin-top: -.1rem;
}

label {
    display: block;
    margin: 0 0 .75rem;
}

button {
    background-color: var(--vgz-light-color-cta);
    padding: .5rem 1rem;
    color: white;
    font-size: 1.25rem;
    border-radius: calc(var(--vgz-light-border-radius-base) * 1px);
    border-color: var(--color-cta);
}

hr {
    margin: 1.5rem 0;
}